body {
	margin: 0;
}
#root {
	height: 100vh;
	margin: 100px 200px;
}

.container {
	display: flex;
	gap: 3em;
}

.code-textarea {
	font-family: Fira Code VF,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
	width: 50%;
	flex-shrink: 0;
	background-color: #f1f1f1;
	border: 1px solid #555555;
	border-radius: 0.5em;
}

.select-wrapper {
	position: relative;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	padding: 4px 11px;
	font-size: 14px;
	line-height: 1.5715;
	color: rgba(0, 0, 0, 0.65);
	transition: all 0.3s;
	width: 200px;
}

.select {
	width: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

code {
	font-family: Fira Code VF,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
	font-size: 14px;
	display: block;
	min-height: 10em;
	min-width: 20em;
	background-color: #f1f1f1;
	color: #333;
	padding: 2px 4px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
