body {
	margin: 0;
}

.site-root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

footer {
	margin-top: auto;
	height: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	height: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	padding: 5%;
}

.container {
	display: flex;
	gap: 1em;
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
	}
}

.flex-item {
	flex-shrink: 0;
	flex-grow: 1;
}

.code-textarea {
	font-family:
		Fira Code VF,
		ui-monospace,
		SFMono-Regular,
		Menlo,
		Monaco,
		Consolas,
		Liberation Mono,
		Courier New,
		monospace;
	background-color: #f1f1f1;
	border: 1px solid #d9d9d9;
	border-radius: 0.5em;
	padding: 1em;
}

.select-wrapper {
	position: relative;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	padding: 4px 11px;
	font-size: 14px;
	line-height: 1.5715;
	color: rgba(0, 0, 0, 0.65);
	transition: all 0.3s;
	width: 200px;
}

.select {
	width: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

button .prefix-button-icon {
	height: 1em;
	width: 1em;
	line-height: 1em;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	fill: currentColor;
}

@keyframes loading-rotate {
	to {
		transform: rotate(360deg);
	}
}

@keyframes loading-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -40px;
	}

	to {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -120px;
	}
}

button .path {
	animation: loading-dash 1.5s ease-in-out infinite;
	stroke-dasharray: 90, 150;
	stroke-dashoffset: 0;
	stroke-width: 2;
	stroke: #409eff;
	stroke-linecap: round;
}

button .circle {
	display: inline;
	animation: loading-rotate 2s linear infinite;
}

button {
	display: flex;
	gap: 0.5em;
	padding: 8px 16px;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	border: 1px solid #d9d9d9;
	border-radius: 0.4em;
	background-color: #f7f7f7;
	color: #333;
	cursor: pointer;
}

button:hover {
	background-color: #e6e6e6;
}

button:active {
	background-color: #d4d4d4;
}

button:disabled {
	cursor: not-allowed;
	color: #cbb7b7;
	cursor: not-allowed;
}

code {
	font-family:
		Fira Code VF,
		ui-monospace,
		SFMono-Regular,
		Menlo,
		Monaco,
		Consolas,
		Liberation Mono,
		Courier New,
		monospace;
	font-size: 14px;
	display: block;
	min-height: 10em;
	min-width: 20em;
	background-color: #f1f1f1;
	color: #333;
	padding: 2px 4px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
